{% extends 'layout.twig' %}

{% block body %}
<div class="container mb-3">

  <div class="jumbotron bg-transparent shadow rounded border-1">
    <h1 class="display-3 text-center">BLAHAJ OR DIE</h1>
    <p class="lead text-center">Frrr c'est juste blahaj ou tu kys : {{capteurs | length}} capteurs gérés.</p>
    <hr class="my-2">
    <p class="p-1"><a href="https://www.youtube.com/watch?v=TWQHMugWALQ">More info</a></p>
    <p class="lead text-center pb-3">
      <a class="btn btn-primary btn-lg" href="https://www.ikea.com/be/fr/p/blahaj-peluche-requin-30373588/" role="button">BOUTON BLAHAJJJJ</a>
    </p>
  </div>

  <h1 class="text-center text-bg-primary text-secondary text-uppercase rounded">Accueil</h1>
  <img src="/images/BLAHAJ.jpg" class="img-fluid rounded float-start m-3 shadow" width="25%" alt="blahaj.jpg">

<h2>Bienvenue chez BlahajIndustry : Votre Destination pour l'Adorabilité en Peluche!</h2>

<p>Plongez dans un monde où les sourires naissent de chaque couture et où les câlins deviennent une véritable aventure.
  Bienvenue chez BlahajIndustry, votre portail vers un univers de peluches épatantes et de charme inégalé.</p>

<p>Chez BlahajIndustry, nous croyons fermement en la magie des peluches pour égayer les cœurs et stimuler l'imagination. 
  C'est pourquoi nous nous engageons à vous offrir une sélection exclusive de créatures en peluche qui captivent l'attention et réchauffent l'âme.</p>

<p>Découvrez notre collection de Blahaj, ces adorables requins en peluche qui sont bien plus que de simples jouets. 
  Avec leur douceur inégalée et leur regard pétillant, les Blahaj deviennent rapidement les compagnons de jeu préférés, prêts à partager toutes sortes d'aventures avec vous.</p>

<p>Mais notre assortiment ne s'arrête pas là. Explorez notre gamme de peluches variées, des oursons câlins aux licornes enchantées, en passant par une myriade d'autres créatures fantastiques. 
  Quel que soit votre penchant pour la tendresse, nous avons la peluche parfaite pour vous.</p>

<p>Chez BlahajIndustry, la qualité est notre priorité absolue. 
  Chaque peluche est confectionnée avec soin à partir de matériaux de haute qualité, garantissant une douceur durable et une résistance à toute épreuve. 
  Nous sommes fiers de vous offrir des produits qui réchauffent le cœur et qui durent dans le temps.</p>

<p>Préparez-vous à plonger dans un monde de douceur et de réconfort. 
  Que vous recherchiez le compagnon idéal pour les câlins du soir ou le cadeau parfait pour égayer le jour de quelqu'un, BlahajIndustry est là pour vous fournir des sourires à profusion.</p>

<p>Bienvenue chez BlahajIndustry, où chaque peluche raconte une histoire d'amour et d'aventure, et où chaque client devient instantanément un membre de notre famille pelucheuse.</p>

</div>

{% endblock %}
