{% extends "layout.twig" %}
{% block body %}

    <h1>A propos</h1>

    <h2>BlahajIndustry : Plongée dans l'univers des Requins en Peluche</h2>
<div class="row">
    <div class="col-6">
        <p class="text-justify">Bienvenue dans l'univers captivant de BlahajIndustry, 
            où le monde des requins en peluche prend vie avec éclat et créativité. 
            Depuis ses modestes débuts comme une simple peluche, 
            BlahajIndustry a évolué pour devenir un chef de file dans l'industrie des jouets en peluche, 
            en captivant l'imagination des gens de tous âges à travers le monde.
        </p>
    
        <p class="text-justify">Au cœur de notre entreprise se trouve le Blahaj, une icône emblématique adorée par des millions de personnes. 
            Mais Blahaj n'est pas simplement une peluche, c'est un compagnon, 
            un confident et un ami pour tous ceux qui le rencontrent. 
            Que ce soit pour des câlins réconfortants, des aventures imaginatives ou simplement pour ajouter 
            une touche de fantaisie à la vie quotidienne, Blahaj est là pour vous accompagner à chaque étape du chemin.
        </p>
    
        <p class="text-justify">Chez BlahajIndustry, nous nous engageons à créer des produits de la plus haute qualité, 
            en utilisant des matériaux sûrs et durables pour garantir une expérience de jeu sans souci. 
            Chaque Blahaj est conçu avec amour et attention aux détails, 
            capturant l'essence même de ces majestueuses créatures marines dans une forme douce et câline.
        </p>
    
        <p class="text-justify">Mais notre engagement ne s'arrête pas là. En tant qu'entreprise socialement responsable, 
            nous nous efforçons de soutenir les initiatives de préservation des océans 
            et de sensibilisation à la conservation des requins. Une partie des recettes de chaque Blahaj vendu est investie 
            dans des programmes de protection de l'environnement marin, aidant à préserver les habitats naturels des requins 
            et à promouvoir la durabilité des écosystèmes marins.
        </p>
    
        <p class="text-justify">L'histoire de BlahajIndustry est une histoire de passion, d'innovation et de connexion humaine. 
            Nous sommes fiers de faire partie de votre voyage et de vous offrir des moments de joie et d'aventure 
            avec nos adorables compagnons en peluche. Rejoignez-nous alors que nous continuons à repousser 
            les limites de l'imagination et à apporter un sourire à chaque visage avec nos amis à nageoires, les Blahaj.
        </p>
    </div>
    <div class="col-6">
        <img src="/images/blahajyay.gif" class="img-fluid rounded float-end m-3 shadow" width="90%" alt="blahajyay.gif">
    </div>
</div>
{% endblock %}