<!DOCTYPE html>
<html>
  <head>
    <!-- This is a comment -->
    {# This is a comment #}
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block scripts %} Script est vide {% endblock %}
  </body>
</html>
