<nav class="navbar navbar-expand-sm navbar-light bg-primary shadow">
    <div class="container">
        <a class="navbar-brand" href="#">HELHa</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Live view</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/historique">Historique</a>
            </li>
            <li class="nav-item active">
                <!-- on écrit la route /about qui est dans index.js-->
                <a class="nav-link" href="/about">A propos</a>
            </li>
        </ul>
    </div>
    </div>
</nav>